{% extends 'base.html.twig' %}

{% block title %}Modification d'une étoile{% endblock %}

{% form_theme form _self %}

{% block body %}
    {# form_start and end ar the commands to create the form on twig. #}
    {# It's also possible to show it only with {{ form(form) }} #}
    {{ form_start(form) }}

        {# To change something in the form I need to write between start and end: #}
        <div class="container mt-5 mb-5">

            <h1> Modifier la description de l'étoile</h1>

            <div class="form-group">
                {{ form_label(form.title, 'Nom de l\'étoile') }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control mb-4', 'required': 'required'}}) }}
            </div>

            {# Possibility to do the same thing that above with: {{ form_row(form.title, {'label' : "Nom de l\'étoile", 'attr': {'class': 'form-control mb-4', 'required': 'required'}}) }} #}
            {# {{ form-row }} takes less place. #}

            <div class="form-group">
                {{ form_label(form.distance, 'Distance par rapport au soleil (en années lumière)') }}
                {{ form_widget(form.distance, {'attr': {'class': 'form-control mb-4', 'required': 'required'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.smallDescription, 'Brève description de l\'étoile') }}
                {{ form_widget(form.smallDescription, {'attr': {'class': 'form-control mb-4', 'required': 'required'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.description, 'Description complète de l\'étoile') }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control mb-4', 'cols': 50, 'rows': 10, 'required': 'required'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.image, 'url de l\'image') }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control mb-4', 'required': 'required'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.size, 'Taille de l\'étoile') }}
                {{ form_widget(form.size, {'attr': {'class': 'form-control mb-4', 'required': 'required'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.planetsNumber, 'Nombre de planètes connues orbitant autour de l\'étoile') }}
                {{ form_widget(form.planetsNumber, {'attr': {'class': 'form-range indicatedRange'}}) }}
                <output class="rangeValue mb-4">
            </div>
            
            <div class="form-group">
                {{ form_label(form.constellation, 'Constellation ou se situe l\'étoile') }}
                {{ form_widget(form.constellation, {'attr': {'class': 'form-control mb-5', 'required': 'required'}}) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.otherImages, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
            
            <div class="form-group mt-5">
                {{ form_label(form.price, 'Prix de l\'étoile') }}
                {{ form_widget(form.price, {'attr': {'class': 'form-control mb-4', 'required': 'required'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.discount, 'Réduction (non obligatoire)') }}
                {{ form_widget(form.discount, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>

            <button type="submit" class="btn btn-warning mb-3">Enregistrer</button>

        </div>






    {{ form_end(form) }}
    

{% endblock %}


{% block _create_star_otherImages_widget %}

    <input type="hidden" id="widget-count" value="0">

    <button type="button" class="addImage btn btn-primary mb-3">Ajouter une image</button>

    {{ form_widget(form, {'attr': {'class': 'form-control mb-4'}}) }}

{% endblock %}


{% block _create_star_otherImages_entry_row %}

    {{ form_widget(form) }}

{% endblock %}


{# Create a specific block to modifiate the otherImages widget: #}
{% block _create_star_otherImages_entry_widget %}

    <div class="d-flex justify-content-around" id="block_{{id}}">

        <div class="form-add-picture-field ms-5">
        {{ form_label(form.url, 'Adresse URL') }}
        {{ form_widget(form.url, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="form-add-picture-field ms-5">
        {{ form_label(form.caption, 'Titre de l\'image') }}
        {{ form_widget(form.caption, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="form-add-picture-field">
            <button type="button" class="btn btn-danger ms-5" data-action="delete" data-target="#block_{{id}}">X</button>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
            <script src="../../js/jquery.min.js"></script>
            <script src="../..//js/rangeButtonForm.js"> </script>
            <script src="../..//js/addImage.js"> </script>
        {% endblock %}