{% extends 'base.html.twig' %}

{% block title %} stars {% endblock %}

{% block body %}
    <main class="container">
        <h1 class="mt-5 mb-8 text-center">Etoiles disponibles</h1>
        <div class="d-flex flex-wrap justify-content-around">

            {# Loop to show a third that the available stars only. #}
            {% for star in stars %}
                <div class="card mb-3 mx-1" style="width: 20em;">
                    <img src={{star.image}} class="card-img-top image image_stars" alt="Image de l'étoile">
                    <div class="card-body d-flex flex-column justify-content-around align-items-center text-center">
                        <h5 class="card-title">{{star.title}}</h5>
                        <p class="card-text">{{star.title}} est une étoile de la constellation {{star.constellation}} abritant {{star.planetsNumber}} planètes</p>
                        <p class="card-text">Mise en ligne par {{star.author.firstname}} {{star.author.lastname}}</p>
                        {% if star.discount == 0 %}
                        <p class="text-primary  mb-6">{{star.price}} €</p>
                        {% else %}
                        <p class="text-danger  mb-0 text-decoration-line-through">{{star.price}} €</p>
                        <p class="text-success  mb-0">{{star.price * (1 - star.discount / 100)}} €</p>
                        <p class="text-secondary mb-6">Soit une réduction de {{star.discount}} % </p>
                        {% endif %}
                        <a href="{{path('app_stars_knowmore', {'id': star.id})}}" class="btn btn-primary">Afficher plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
