{% extends 'base.html.twig' %}

{% block title %}Detailed star{% endblock %}

{% block body %}
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-secondary ms-auto" href="{{star.title}}/edit">Modifier</a>
    </div>
    <main class="container mt-5">
        <h1 class="mt-5 mb-8 text-center">{{star.title}}</h1>

        <img src={{star.image}} class="card-img-top image image_stars" alt="Image de l'étoile">
        <div class="card-body d-flex flex-column justify-content-around align-items-center text-center">
            <p class="card-text">{{star.title}} est une étoile de la constellation {{star.constellation}} abritant {{star.planetsNumber}} planètes</p>
            <p class="card-text">{{star.smallDescription}}</p>
            <p class="card-text">{{star.description}}</p>
            <div class="d-flex flex-column align-items-start">
                <p class="card-text">Distance: {{star.distance}} années lumières de la terre.</p>
                <p class="card-text">Taille: {{star.size}} fois la taille du soleil.</p>
                <p class="card-text mb-5">Nombre de planètes: {{star.planetsNumber}} planètes potentielement habitables orbitent autour de {{star.title}}.</p>
            </div>

            <div id="carouselExample" class="carousel slide w-50">
                <div class="carousel-inner">
                    {% for otherImage in star.otherimages %}
                        <div class="carousel-item active">
                            <img src={{otherImage.url}} class="d-block image image_stars w-100" alt="image"{{star.title}}>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            {% if star.discount == 0 %}
                <p class="text-primary">{{star.price}} €</p>
            {% else %}
                <p class="text-danger mt-4 mb-0 text-decoration-line-through">{{star.price}} €</p>
                <p class="text-success  mb-0">{{star.price * (1 - star.discount / 100)}} €</p>
                <p class="text-secondary mb-6">Soit une réduction de {{star.discount}} % </p>
            {% endif %}
            <a href="/stars/{{star.title}}" class="btn btn-warning mb-4">Acheter</a>
        </div>
    </main>

{% endblock %}