<div class="d-flex flex-column border border-info rounded bg-warning-subtle">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
            <img class="avatar2" src={{comment.userId.avatar}} alt="image de profil de "{{comment.userId.firstname}} {{comment.userId.lastname}}>
            <p class="fw-bold">{{comment.userId.firstname}} {{comment.userId.lastname}}</p>
        </div>
    </div>
    <p>{{comment.message}}</p>
</div>